.modalStyle{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: calc(100vh - 210px);

  @media only screen and (max-width: 48rem){
    margin: 5rem -2rem;
  }

  @media only screen and (max-width: 50rem){
    margin: 3.5rem -2rem;
  }
  
  .modal{
    &__btn{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__image{
      width: 10rem;
      height: auto;
      margin-bottom: 0.5rem;
    }

    &__title{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* number of lines to show */
      -webkit-box-orient: vertical;
      margin-top: 0.5rem;
    }

    &__description{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5; /* number of lines to show */
      -webkit-box-orient: vertical;
      margin-top: 0.5rem;
    }

    &__btn{
      button{
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29 ;
    color: #111;
    width: 7rem;
    border-radius: 3px;
    margin-right: 1rem;
    margin-bottom: 0.7rem;

    &:hover{
      box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
      transform: translateY(-2px);
  }
      }
      .delete{
        background-color: #C82333;
      }
      .cancel{
        background-color: #f0c14b;
      }
    }
  }
}