.list-products{
  margin: 1.2rem;
  
       
  &__card{
    margin-top: 1rem;
    margin-bottom: 1.5rem;

    &:hover{
      transform: translateY(-0.3rem);
    }
          }
  img{
    height: 14rem;
    object-fit: contain;
       }
  }

  .pagi{
    margin-left: 3rem;
  }


#card__title{
 overflow: hidden;
 text-overflow: ellipsis;
 display: -webkit-box;
 -webkit-line-clamp: 7; /* number of lines to show */
 -webkit-box-orient: vertical;
 margin-top: 0.5rem;
}

.card-footer{
display: flex;
align-items: center;
justify-content: space-around;

.addToCart{
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29 ;
  border-radius: 1rem;
  color: #111;
  width: 50%;
  margin: 0;
}
}

