.payment{
  margin-top: 2rem;
  margin-bottom: 3rem;

  .container {
    max-width: 60rem;

    .btn-checkout{
      border-radius: 2px;
      font-size: 1rem;
      width: 50%;
      height: 30px;
      border: 1px solid;
      margin-top: 10px;
      border-color: #a88734 #9c7e31 #846a29;
      background-color: #f0c14b;

      &:hover{
        box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
        transform: translateY(-0.3rem);
      }
    }
  }
  }